.counter{
    display: flex;
}
.counter-button{
    padding: 5px 20px;
    border: none;
    font-size: 2rem;
    color: #444;
}
.counter-count{
    min-width: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}