.counter{
    display: flex;
}
.counter-button{
    padding: .5rem 1rem;
    border: none;
    font-size: 2rem;
    color: #444;
    transition: 100ms ease-in-out;
}
.counter-button:active{
    background: #c4c4c4;
}
.counter-count{
    min-width: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}